<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Incidencias</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Apertura</th>
                    <th>Cierre</th>
                    <th>Estado</th>
                    <th>Tiempo en resolverse</th>
                    <th>Prioridad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="incidencia : ${incidencias}">
                    <td th:text="${incidencia.id}">1</td>
                    <td th:text="${incidencia.titulo}">Titulo</td>
                    <td th:text="${incidencia.descripcion}">Descripcion</td>
                    <td th:text="${incidencia.fechaApertura}">Apertura</td>
                    <td th:text="${incidencia.fechaCierre}">Cierre</td>
                    <td th:text="${incidencia.estado.nombre}">Estado</td>
                    <td th:text="${incidencia.tiempoResolucion}">Tiempo en resolverse</td>
                    <td th:text="${incidencia.prioridad}">Prioridad</td>
                    <td>
                        <form th:action="@{'/editarIncidenciasForm/' + ${incidencia.id}}" method="get" style="display:inline">
                            <button type="submit">Editar</button>
                        </form>
                        <form th:action="@{'/incidencias/eliminar/' + ${incidencia.id}}" method="get" style="display:inline">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Botón para crear un nuevo usuario -->
        <form th:action="@{/form}" method="get" style="margin-top: 10px;">
            <button type="submit">Crear Nuevo Usuario</button>
        </form>

        <!-- Botón para añadir nuevo estado -->
        <form th:action="@{/estado/nuevo}" method="get" style="margin-top: 10px;">
            <button type="submit">Añadir Nuevo Estado</button>
        </form>
    </div>
</body>
</html>
